.DS_Store
.run/

# server
.DS_Store
logs/
*.log
*.sqlite.db
*.db
/bin/
/dist/
/tmp/
config.yaml
config.yml

# web
node_modules/
dist/
.env
.env.*
!.env.example
.DS_Store
*.local
*.log
src/**/*.tsbuildinfo
node_modules/.tmp/

*.db-shm
*.db-wal
